@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  background-color: #f9f2ed;
}

* {
  font-family: 'Inter', system-ui !important;
  box-sizing: border-box;
  user-select: none;
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  width: 800px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.block{
  input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 1.3px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
  }

}
.currencies{
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  li{
    display: inline-flex;
    padding: 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    justify-content: center;
    flex: 1;


    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
      background-color: #16b67f;
      color: #fff;
    }
    &:last-of-type{
      display: inline-flex;
      align-items: center;
      flex: 0 0 50px;
      border-right: 0;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  
}
.current__currency{
  display: flex;
  flex-direction: column;

  width: 400px;
  background-color: #fff;
  margin: 0px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.currency{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 36px;
  

  &:first-child{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  &:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .currency__name{
    font-size: 42px;
    font-weight: 700;
    background: -webkit-linear-gradient(#f9f2ed, #725001);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .currency__price{
    font-weight: 700;
    opacity: 0.7;
  }
}

